# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*

# Composer
composer.phar
src/Eugef/PhpRedExpert/AngularBundle/Resources/public/vendor/

# IDE
nbproject/*
.idea/*
phpRedExpert.iml

.vagrant
