/* angular bootstrap fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*adminlte fixes*/
.content {
    padding-bottom: 0;
}

.skin-black .treeview-menu > li.active > a {
    font-weight: bold;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li.active > a {
  background: #f6f6f6;
  text-decoration: none;
}