<div class="col-md-12">
    
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" ng-include="partialsUri('dbmenu.html')"></ul>
        <div class="tab-content">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <form name="searchForm" ng-submit="submitSearch()" novalidate class="form-inline">
                        <div class="input-group" style="width:300px">
                            <input name="pattern" type="text" ng-model="search.pattern" required placeholder="Key pattern" class="form-control pull-left" >
                            <div class="input-group-btn">
                                <button type="submit" ng-disabled="searchForm.$invalid" class="btn btn-info">Search</button>
                            </div>
                        </div>
                    </form>
                 </div>
                 <div class="btn-group">   
                    <button type="button" ng-click="openKey()" class="btn btn-primary" ng-disabled="search.result.selected.length != 1"><i class="fa fa-file-text-o"></i> Open</button>
                </div>    
                <div class="btn-group">   
                    <button type="button" ng-click="editKeyName()" class="btn btn-default" ng-disabled="search.result.selected.length != 1"><i class="fa fa-edit"></i> Rename</button>
                    <button type="button" ng-click="editKeyTtl()" class="btn btn-default" ng-disabled="search.result.selected.length != 1"><i class="fa fa-clock-o"></i> Expire</button>
                 </div>   
                 <div class="btn-group">      
                    <button type="button" ng-click="moveKeys()" class="btn btn-default" ng-disabled="search.result.selected.length < 1"><i class="fa fa-arrows"></i> Move</button>
                    <button type="button" ng-click="deleteKeys()" class="btn btn-default" ng-disabled="search.result.selected.length < 1"><span class="text-danger"><i class="fa fa-trash-o"></i> Delete</span></button>
                </div>
            </div>  
        </div>
    </div>
    
    <div class="box box-primary ng-hide" ng-show="search.result.keys.length">
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-condensed table-data">
                <thead>
                    <tr>
                        <th class="checkbox-td"><label><input checkbox-all="search.result.keys|selected"/></label></th>    
                        <th sort-order="search.sort" sort-order-by="name">Key</th>
                        <th class="fixed-td-md" sort-order="search.sort" sort-order-by="type">Type</th>
                        <th class="fixed-td-mdb" sort-order="search.sort" sort-order-by="ttl">TTL</th>
                        <th class="fixed-td-md" sort-order="search.sort" sort-order-by="encoding">Encoding</th>
                        <th class="fixed-td-sm" sort-order="search.sort" sort-order-by="size">Size</th>
                    </tr>    
                </thead>
                <tbody>
                    <tr ng-repeat="key in search.result.keys | orderBy:search.sort.field:search.sort.reverse" ng-class="{selected: key.selected}">
                        <td class="checkbox-td"><label><input type="checkbox" ng-model="key.selected" /></label></td>
                        <td ng-click="selectKeyExclusive(key.name)"><a href="#!/{[(getKeyUri(key.name, true))]}">{[key.name]}</a></td>
                        <td ng-click="selecKeyExclusive(key.name)">{[key.type]}</td>
                        <td ng-click="selecKeyExclusive(key.name)">{[key.ttl | sec2time]}</td>
                        <td ng-click="selecKeyExclusive(key.name)">{[key.encoding]}</td>
                        <td ng-click="selecKeyExclusive(key.name)">{[key.size]}</td>
                    </tr>
                </tbody>    
            </table>
            <div class="pull-left pagination">
                Total <span class="label label-default">{[search.result.total]}</span> | 
                selected <span class="label label-default">{[search.result.selected.length]}</span> |
                on page <span class="label label-default">{[search.result.keys.length]}</span> | 
                page <span class="label label-default">{[search.page]} / {[search.pageCount]}</span>
            </div>    
            <pagination ng-model="search.page" ng-change="setPage()" total-items="search.result.total" items-per-page="search.result.pageSize" num-pages="search.pageCount" max-size="5" class="pull-right ng-hide" ng-show="search.pageCount > 1" boundary-links="true" rotate="true"></pagination>
        </div>
    </div>

    <div class="alert alert-warning alert-dismissable ng-hide" ng-show="!search.result.keys.length && search.result.pattern">
        <i class="fa fa-warning"></i>
        <b>No results</b> for specified search pattern.
    </div>
    
    <div class="alert alert-info alert-dismissable ng-hide" ng-show="!search.result.keys.length && $parent.getCurrentDB().keys > 0">
        <i class="fa fa-info"></i>
        <b>Supported search patterns:</b> 
        <ul>
            <li>h?llo matches hello, hallo and hxllo</li>
            <li>h*llo matches hllo and heeeello</li>
            <li>h[ae]llo matches hello and hallo, but not hillo</li>
            <li>* matches the all keys</li>
        </ul>    
        Use \ to escape special characters if you want to match them verbatim.
    </div>
    
    <div class="alert alert-warning alert-dismissable ng-hide" ng-show="$parent.getCurrentDB().keys == 0">
        <i class="fa fa-warning"></i>
        <b>This database is empty.</b> Use one of the following links to add new keys:
        <ul>
            <li><a href="#!/server/{[current.serverId]}/db/{[current.dbId]}/key/add/string">String</a></li>
            <li><a href="#!/server/{[current.serverId]}/db/{[current.dbId]}/key/add/hash">Hash</a></li>
            <li><a href="#!/server/{[current.serverId]}/db/{[current.dbId]}/key/add/list">List</a></li>
            <li><a href="#!/server/{[current.serverId]}/db/{[current.dbId]}/key/add/set">Set</a></li>
            <li><a href="#!/server/{[current.serverId]}/db/{[current.dbId]}/key/add/zset">Sorted set</a></li>
        </ul>    
    </div>

</div>
