<div class="form-group">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
                <th></th>
            </tr>    
            <tr class="inline-edit">
                <th class="fixed-td-lg">
                    <div class="form-group no-margin">
                        <input type="text" class="form-control" placeholder="Hash key" ng-model="keyValue.field" required/>
                    </div>    
                </th>
                <th>
                    <textarea class="form-control" placeholder="Value" ng-model="keyValue.value" rows="3"></textarea>
                </th>
                <th class="fixed-td-smb">
                    <button type="submit" class="btn btn-primary" ng-disabled="keyForm.$invalid"><i class="fa fa-plus"></i> Add</button>
                </th>
            </tr>    
        </thead>
        <tbody>
            <tr ng-repeat="(field, value) in key.value">
                <td><a href ng-click="initEditHashField(field)">{[field]}</a></td>
                <td><pre class="no-margin scrollable">{[value]}</pre></td>
                <td><a href ng-click="deleteKeyValue(field)" class="text-danger"><i class="fa fa-trash-o"></i> Delete</a></td>
            </tr>
        </tbody>    
    </table>
</div>            
