<div class="form-group">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Hash key</th>
                <th>Value</th>
                <th></th>
            </tr>    
            <tr>
                <th><input type="text" class="form-control" placeholder="Hash key" ng-model="keyValue.name" required/></th>
                <th><input type="text" class="form-control" placeholder="Value" ng-model="keyValue.value" /></th>
                <th class="fixed-td-sm"><button type="submit" class="btn btn-default" ng-disabled="keyForm.$invalid"><i class="fa fa-plus"></i> Add</button></th>
            </tr>    
        </thead>
        <tbody>
            <tr ng-repeat="(hash, value) in key.value">
                <td>{[hash]}</td>
                <td>{[value]}</td>
                <td><a href ng-click="deleteKeyHash(hash)" class="text-danger"><i class="fa fa-trash-o"></i> Delete</a></td>
            </tr>
        </tbody>    
    </table>
</div>            
