<div>
<div>Search</div>
    <form name="searchForm" ng-submit="submitSearch()" novalidate class="css-form">
      Key: <input name="pattern" type="text" ng-model="search.pattern" required placeholder="Key pattern" />
      <button type="submit" ng-disabled="searchForm.$invalid">Search</button>
      <p ng-show="searchForm.pattern.$invalid && !searchForm.pattern.$pristine" class="help-block">Search pattern is required.</p>
    </form>

    <div ng-show="search.result.count" class="ng-hide">
        Result: total = {[search.result.total]}, on page: {[search.result.count]}, page {[search.page]} / {[search.pageCount]}
        <table>
            <thead>
                <th><a ng-click="sortBy('name')">Key ^</a></th>
                <th><a ng-click="sortBy('type')">Type ^</a></th>
                <th><a ng-click="sortBy('ttl')">TTL ^</a></th>
                <th><a ng-click="sortBy('encoding')">Encoding ^</a></th>
                <th><a ng-click="sortBy('size')">Size ^</a></th>
            </thead>
            <tfoot ng-show="search.result.total > search.result.count">
                <td colspan="5">
                    <pagination on-select-page="setPage(page)" total-items="search.result.total" page="search.page" items-per-page="search.result.pageSize" num-pages="search.pageCount" max-size="11" class="pagination-sm" boundary-links="true" rotate="true"></pagination>
                </td>
            </tfoot>
            <tbody>
                <tr ng-repeat="key in search.result.keys | orderBy:search.sort.field:search.sort.reverse">
                    <td>{[key.name]}</td>
                    <td>{[key.type]}</td>
                    <td>{[key.ttl | sec2time]}</td>
                    <td>{[key.encoding]}</td>
                    <td>{[key.size]}</td>
                </tr>
            </tbody>    
        </table> 
    </div>

    <div ng-show="!search.result.count && search.result.pattern" class="ng-hide"> 
        No results
    </div>    
</div>
