<div class="col-md-12">
    <div class="box">
        <div class="box-header"></div>
        <div class="box-body">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <form name="searchForm" ng-submit="submitSearch()" novalidate class="form-inline">
                        <div class="input-group" style="width:300px">
                            <input name="pattern" type="text" ng-model="search.pattern" required placeholder="Key pattern" class="form-control pull-left" >
                            <div class="input-group-btn">
                                <button type="submit" ng-disabled="searchForm.$invalid" class="btn btn-info">Search</button>
                            </div>
                        </div>
                    </form>
                 </div>
                 <div class="btn-group">   
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-plus-circle"></i> Add <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">String</a></li>
                        <li><a href="#">Hash</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">Set</a></li>
                        <li><a href="#">Sorted set</a></li>
                    </ul>
                 </div>    
                 <div class="btn-group">   
                    <button type="button" class="btn btn-default"><i class="fa fa-file-text-o"></i> Edit</button>
                    <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> Rename</button>
                    <button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i> Expire</button>
                 </div>   
                 <div class="btn-group">      
                    <button type="button" class="btn btn-default"><i class="fa fa-arrows"></i> Move</button>
                    <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> Delete</button>
                </div>
            </div>  
        </div>
    </div>
    <div class="box box-primary" ng-show="search.result.count" class="ng-hide">
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-condensed">
                <thead>
                    <th><input checkbox-all="search.result.keys|selected"/></th>    
                    <th><a ng-click="sortBy('name')">Key ^</a></th>
                    <th><a ng-click="sortBy('type')">Type ^</a></th>
                    <th><a ng-click="sortBy('ttl')">TTL ^</a></th>
                    <th><a ng-click="sortBy('encoding')">Encoding ^</a></th>
                    <th><a ng-click="sortBy('size')">Size ^</a></th>
                </thead>
                <tbody>
                    <tr ng-repeat="key in search.result.keys | orderBy:search.sort.field:search.sort.reverse" ng-class="{selected: key.selected}" ng-click="keySelectExclusive($event, $index)">
                        <td><input type="checkbox" ng-model="key.selected"/></td>
                        <td><a href>{[key.name]}</a></td>
                        <td>{[key.type]}</td>
                        <td>{[key.ttl | sec2time]}</td>
                        <td>{[key.encoding]}</td>
                        <td>{[key.size]}</td>
                    </tr>
                </tbody>    
            </table>
            <div class="pull-left pagination">
                Total <span class="badge">{[search.result.total]}</span> | on page <span class="badge">{[search.result.count]}</span> | page <span class="badge">{[search.page]} / {[search.pageCount]}</span>
            </div>    
            <pagination on-select-page="setPage(page)" total-items="search.result.total" page="search.page" items-per-page="search.result.pageSize" num-pages="search.pageCount" max-size="11" class="pull-right ng-hide" ng-show="search.pageCount > 1" boundary-links="true" rotate="true"></pagination>
        </div>
    </div>

    <div class="alert alert-warning alert-dismissable ng-hide" ng-show="!search.result.count && search.result.pattern" >
        <i class="fa fa-warning"></i>
        <b>No results</b> for specified search pattern.
    </div>
    
    <div class="alert alert-info alert-dismissable ng-hide" ng-show="!search.result.count">
        <i class="fa fa-info"></i>
        <b>Supported search patterns:</b> 
        <ul>
            <li>h?llo matches hello, hallo and hxllo</li>
            <li>h*llo matches hllo and heeeello</li>
            <li>h[ae]llo matches hello and hallo, but not hillo</li>
            <li>* matches the all keys</li>
        </ul>    
        Use \ to escape special characters if you want to match them verbatim.
    </div>

</div>
